<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documento PDF</title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <div class="container">
      <img class="logo" src="../image/logo.svg" alt="Logo" />
      <div class="text">Planni</div>
    </div>
      <h1>Package Purchase Confirmation</h1>
      <p>Buy Package ID: {{id_buy_package}}</p>
      <p>User: {{name_user}} {{lastname_user}}</p>
      <p>Email: {{email}}</p>
      <p>Phone: {{phone}}</p>
      <p>Address: {{address}}</p>
      <p>Country: {{name_country}}</p>
      <p>Hotel: {{name_hotels}}</p>
      <p>Restaurant: {{name_restaurant}}</p>
      <p>Attraction 1: {{attraction1}}</p>
      <p>Attraction 2: {{attraction2}}</p>
      <p>Price: {{price_package}}</p>
  </body>
</html>
